@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
$primary-color: #3498db;
$secondary-color: #DC1F93;
.App {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    .App-container{
        margin-top: 50px;
        padding: 50px 0;
        background: rgba(55, 104, 127, 0.2);
        padding: 50px;
    }
}

.App-logo {
  width: 100px;
}

.App-header {
  /* background-color: rgba(34, 34, 34, .75); */
  padding: 20px;
  color: #fff; 
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Background{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #262626;
    z-index: -9;
}

.Button{
    width: 50px;
    height: 50px;
    transform: rotateY(0deg);
    transition: all .25s ease;
    cursor: pointer;
    border: none; 
    margin-bottom: 15px;
    i{
        line-height: 45px;
    }
    &:hover, &[active="true"]{
        background-color: $secondary-color;
        transform: rotateX(180deg);
        color: white;
        + span{
            color: $secondary-color;
        }
    }
    + span{
        text-align: super;
        font-weight: 100;
        margin-left: 10px;
    }
}
.HomeIntro{
    font-weight: 100;
}
#homeText{
    min-height: 80px;
}
.HomeTitle{
    font-size: 2em;
    font-weight: 500;
}
.section--title{
    font-weight: 100;
    opacity: .5;
    font-size: 2em;
    border-bottom: 1px solid #606060;
}
.Card{
    background: #ffffff1a;
    padding: 25px;
    margin-bottom: 15px;
    .Card-icon{
        opacity: .5;
    }
    .Card-info{
        display: block;
        font-size: 2em;
    }
    .Card-title{
        margin-left: 5px;
        font-weight: 100;
        font-size: 1.25em;
        opacity: .75;
        vertical-align: text-bottom;
    }
    .Card-text{
        font-weight: 100;
        opacity: .75;
        font-size: .8em;
    }
}
.Currency .Card-text{display:none}
.Popular .Card-chart{display:none}
[visible="no"]{display:none}
